# Project - Classifying Diabetes using Machine Learning on BRFSS 2024 data

## Step5_Data_Preprocessing_for_Model

#### In this step we are going to Make data suitable for machine learning Models.
firstly here we are loading the data which we cleaned and mapped in step 4 now we are selecting only essential numerical columns for Modeling.

In [179]:
import pandas as pd

In [180]:
data = pd.read_csv(r"C:\Users\Junaid\MSC-DS\RM\STEP_2_BRFSS\both-CLEANED_LABELED_BRFSS2024.csv")

In [181]:
data.columns

Index(['GENHLTH', '_SEX', 'PHYSHLTH', 'MENTHLTH', 'POORHLTH', 'PERSDOC3',
       'MEDCOST1', 'EXERANY2', 'CVDSTRK3', 'CHCKDNY2', 'MARITAL', 'EDUCA',
       'EMPLOY1', '_INCOMG1', 'DIFFWALK', 'SMOKE100', 'LSATISFY', '_METSTAT',
       'SSBFRUT3', '_TOTINDA', '_IMPRACE', '_RFDRHV9', '_HLTHPL2', '_RACE',
       '_AGEG5YR', '_BMI5', 'ADDEPEV3', 'EMTSUPRT', 'DIABETE4',
       'GENHLTH_LABEL', '_SEX_LABEL', 'PHYSHLTH_LABEL', 'MENTHLTH_LABEL',
       'POORHLTH_LABEL', 'PERSDOC3_LABEL', 'MEDCOST1_LABEL', 'EXERANY2_LABEL',
       'CVDSTRK3_LABEL', 'CHCKDNY2_LABEL', 'MARITAL_LABEL', 'EDUCA_LABEL',
       'EMPLOY1_LABEL', '_INCOMG1_LABEL', 'DIFFWALK_LABEL', 'SMOKE100_LABEL',
       'LSATISFY_LABEL', '_METSTAT_LABEL', 'SSBFRUT3_LABEL', '_TOTINDA_LABEL',
       '_IMPRACE_LABEL', '_HLTHPL2_LABEL', '_RACE_LABEL', '_AGEG5YR_LABEL',
       '_BMI5_ACTUAL', 'ADDEPEV3_LABEL', 'EMTSUPRT_LABEL', '_RFDRHV9_LABEL',
       'DIABETE4_LABEL'],
      dtype='object')

In [182]:
data.shape

(449360, 58)

In [183]:
df = data[['GENHLTH', '_SEX', 'PHYSHLTH', 'MENTHLTH', 'POORHLTH', 'PERSDOC3',
       'MEDCOST1', 'EXERANY2', 'CVDSTRK3', 'CHCKDNY2', 'MARITAL', 'EDUCA',
       'EMPLOY1', '_INCOMG1', 'DIFFWALK', 'SMOKE100', 'LSATISFY', '_METSTAT',
       'SSBFRUT3', '_TOTINDA', '_IMPRACE', '_RFDRHV9', '_HLTHPL2', '_RACE',
       '_AGEG5YR', '_BMI5', 'ADDEPEV3', 'EMTSUPRT', 'DIABETE4']]

In [184]:
df.head()

,GENHLTH,_SEX,PHYSHLTH,MENTHLTH,POORHLTH,PERSDOC3,MEDCOST1,EXERANY2,CVDSTRK3,CHCKDNY2,...,_TOTINDA,_IMPRACE,_RFDRHV9,_HLTHPL2,_RACE,_AGEG5YR,_BMI5,ADDEPEV3,EMTSUPRT,DIABETE4
0,3.0,2.0,2.0,7.0,7.0,2.0,2.0,1.0,2.0,2.0,...,1.0,1.0,1.0,1.0,1.0,12.0,2249.0,2.0,1.0,3.0
1,1.0,1.0,6.0,7.0,7.0,1.0,2.0,1.0,2.0,2.0,...,1.0,1.0,1.0,1.0,1.0,13.0,2583.0,2.0,1.0,3.0
2,2.0,1.0,30.0,7.0,1.0,3.0,1.0,1.0,2.0,2.0,...,1.0,1.0,1.0,1.0,1.0,8.0,2253.0,2.0,2.0,3.0
3,1.0,1.0,6.0,7.0,7.0,1.0,2.0,1.0,2.0,2.0,...,1.0,1.0,1.0,1.0,1.0,13.0,2509.0,2.0,1.0,3.0
4,3.0,1.0,6.0,7.0,7.0,1.0,2.0,2.0,2.0,2.0,...,2.0,1.0,1.0,1.0,1.0,6.0,1977.0,2.0,4.0,3.0

In [185]:
df.isna().sum() # checking null values before modeling

GENHLTH     0
_SEX        0
PHYSHLTH    0
MENTHLTH    0
POORHLTH    0
PERSDOC3    0
MEDCOST1    0
EXERANY2    0
CVDSTRK3    0
CHCKDNY2    0
MARITAL     0
EDUCA       0
EMPLOY1     0
_INCOMG1    0
DIFFWALK    0
SMOKE100    0
LSATISFY    0
_METSTAT    0
SSBFRUT3    0
_TOTINDA    0
_IMPRACE    0
_RFDRHV9    0
_HLTHPL2    0
_RACE       0
_AGEG5YR    0
_BMI5       0
ADDEPEV3    0
EMTSUPRT    0
DIABETE4    0
dtype: int64

### There is no missing values in the data now we are going, again mapping values to appropriate binary values .

In [186]:
df['GENHLTH'].value_counts(dropna=False) # getting values count for genhelth and found more than 2 valus , so we leave as it is

GENHLTH
3.0    154527
2.0    143222
4.0     66875
1.0     62847
5.0     21889
Name: count, dtype: int64

In [187]:
df['_SEX'].value_counts(dropna=False) # getting values counts

_SEX
2.0    235667
1.0    213693
Name: count, dtype: int64

In [188]:
df.loc[:,'_SEX'] = df['_SEX'].map({1:0, 2: 1}) # got 2 values now making them appropriate Binary format.

In [189]:
df['_SEX'].value_counts(dropna=False)

_SEX
1.0    235667
0.0    213693
Name: count, dtype: int64

In [190]:
df['PHYSHLTH'].value_counts(dropna=False)

PHYSHLTH
6.0     275423
30.0     35825
2.0      27437
1.0      18187
3.0      16695
5.0      15925
10.0     10979
15.0      9685
7.0       9248
4.0       8910
20.0      6415
14.0      4593
25.0      2455
8.0       1835
12.0      1103
21.0       964
28.0       883
9.0        411
29.0       404
18.0       340
16.0       293
27.0       241
22.0       206
17.0       193
13.0       152
26.0       137
11.0       134
24.0       117
23.0       114
19.0        56
Name: count, dtype: int64

In [191]:
df['MENTHLTH'].value_counts(dropna=False)

MENTHLTH
7.0     280278
30.0     26882
2.0      24855
5.0      21147
10.0     16236
3.0      15752
15.0     15158
1.0      15129
20.0      9599
4.0       8294
25.0      3304
14.0      2819
6.0       2344
8.0       1854
12.0      1320
28.0       916
21.0       541
29.0       486
18.0       343
9.0        327
16.0       292
17.0       287
27.0       229
22.0       184
13.0       182
11.0       145
24.0       133
23.0       132
26.0       121
19.0        71
Name: count, dtype: int64

In [192]:
df['POORHLTH'].value_counts(dropna=False)

POORHLTH
7.0     331093
30.0     20728
2.0      15894
5.0      13020
1.0      12298
3.0      10803
15.0     10219
10.0     10192
20.0      6480
4.0       6063
14.0      2656
25.0      2328
6.0       1894
8.0       1557
12.0       959
21.0       629
28.0       510
9.0        294
18.0       258
16.0       251
17.0       181
29.0       180
27.0       151
13.0       137
22.0       130
24.0       114
23.0       102
11.0       100
26.0        92
19.0        47
Name: count, dtype: int64

In [193]:
df['PERSDOC3'].value_counts(dropna=False)

PERSDOC3
1.0    242623
2.0    151559
3.0     55178
Name: count, dtype: int64

In [194]:
df['MEDCOST1'].value_counts(dropna=False)

MEDCOST1
2.0    406655
1.0     42705
Name: count, dtype: int64

In [195]:
df['MEDCOST1'] = df['MEDCOST1'].map({1: 1, 2: 0})

C:\Users\Junaid\AppData\Local\Temp\ipykernel_17448\4161841142.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['MEDCOST1'] = df['MEDCOST1'].map({1: 1, 2: 0})

In [196]:
df['MEDCOST1'].value_counts(dropna=False)

MEDCOST1
0    406655
1     42705
Name: count, dtype: int64

In [197]:
df['EXERANY2'].value_counts(dropna=False)

EXERANY2
1.0    344736
2.0    104624
Name: count, dtype: int64

In [198]:
df['EXERANY2'] = df['EXERANY2'].map({1: 1, 2: 0})

C:\Users\Junaid\AppData\Local\Temp\ipykernel_17448\2853500493.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['EXERANY2'] = df['EXERANY2'].map({1: 1, 2: 0})

In [199]:
df['EXERANY2'].value_counts(dropna=False)

EXERANY2
1    344736
0    104624
Name: count, dtype: int64

In [200]:
df['CVDSTRK3'].value_counts(dropna=False)

CVDSTRK3
2.0    428987
1.0     20373
Name: count, dtype: int64

In [201]:
df['CVDSTRK3'] = df['CVDSTRK3'].map({1: 1, 2: 0})

C:\Users\Junaid\AppData\Local\Temp\ipykernel_17448\2912928892.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['CVDSTRK3'] = df['CVDSTRK3'].map({1: 1, 2: 0})

In [202]:
df['CHCKDNY2'].value_counts(dropna=False)

CHCKDNY2
2.0    425925
1.0     23435
Name: count, dtype: int64

In [203]:
df['CHCKDNY2'] = df['CHCKDNY2'].map({1: 1, 2: 0})

C:\Users\Junaid\AppData\Local\Temp\ipykernel_17448\2042201838.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['CHCKDNY2'] = df['CHCKDNY2'].map({1: 1, 2: 0})

In [204]:
df['CHCKDNY2'].value_counts(dropna=False)

CHCKDNY2
0    425925
1     23435
Name: count, dtype: int64

In [205]:
df['_TOTINDA'].value_counts(dropna=False)

_TOTINDA
1.0    344736
2.0    104624
Name: count, dtype: int64

In [206]:
df['_TOTINDA'] = df['_TOTINDA'].map({1: 1, 2: 0})

C:\Users\Junaid\AppData\Local\Temp\ipykernel_17448\1940011699.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['_TOTINDA'] = df['_TOTINDA'].map({1: 1, 2: 0})

In [207]:
df['_IMPRACE'].value_counts(dropna=False) #

_IMPRACE
1.0    330653
5.0     48489
2.0     34781
6.0     16495
3.0     12455
4.0      6487
Name: count, dtype: int64

#### ONE HOT ENCODING for  more than 3 Values eg. EDUCATION_LEVEL

    Because _IMPRACE is a categorical variable without numeric meaning.
    I used pd.get_dummies() to convert it into multiple binary columns so that the machine learning model can correctly interpret each race category without assuming any order between them.

In [208]:
df = pd.get_dummies(df, columns=['_IMPRACE'], prefix='_IMPRACE')

In [209]:
df['_RFDRHV9'].value_counts(dropna=False)

_RFDRHV9
1.0    425412
2.0     23948
Name: count, dtype: int64

In [210]:
df.columns

Index(['GENHLTH', '_SEX', 'PHYSHLTH', 'MENTHLTH', 'POORHLTH', 'PERSDOC3',
       'MEDCOST1', 'EXERANY2', 'CVDSTRK3', 'CHCKDNY2', 'MARITAL', 'EDUCA',
       'EMPLOY1', '_INCOMG1', 'DIFFWALK', 'SMOKE100', 'LSATISFY', '_METSTAT',
       'SSBFRUT3', '_TOTINDA', '_RFDRHV9', '_HLTHPL2', '_RACE', '_AGEG5YR',
       '_BMI5', 'ADDEPEV3', 'EMTSUPRT', 'DIABETE4', '_IMPRACE_1.0',
       '_IMPRACE_2.0', '_IMPRACE_3.0', '_IMPRACE_4.0', '_IMPRACE_5.0',
       '_IMPRACE_6.0'],
      dtype='object')

In [211]:
df['_RFDRHV9'] = df['_RFDRHV9'].map({1: 1, 2: 0})

In [212]:
df['_HLTHPL2'].value_counts(dropna=False)

_HLTHPL2
1.0    424291
2.0     25069
Name: count, dtype: int64

In [213]:
df['_HLTHPL2'] = df['_HLTHPL2'].map({1: 1, 2: 0})

In [214]:
df['_RACE'].value_counts(dropna=False)
# btw we have _IMRACE so will remove this ducplicate column later

_RACE
1.0    332008
8.0     48240
2.0     34435
4.0     12361
7.0     10342
3.0      6339
6.0      3604
5.0      2031
Name: count, dtype: int64

In [215]:
df['_AGEG5YR'].value_counts(dropna=False)

_AGEG5YR
10.0    47701
11.0    44774
9.0     43387
13.0    41756
12.0    36803
8.0     34936
7.0     31698
5.0     30899
1.0     29692
6.0     28968
4.0     28804
3.0     26237
2.0     23705
Name: count, dtype: int64

    In our data BRFSS, _AGEG5YR is an age category, not the actual age.
    to convert age categories into representative numeric AGE we use (midpoints) of each category.
    eg. Category 1 (0–4 years) -- mid age = 2
    If you leave 1, 2, 3, 4… as raw numbers, the model incorrectly assumes:
    Category 4 > Category 3 (true)
    Midpoints represent approximate real age, This gives models a more realistic representation of age, improves interpretability, and avoids misleading ordinal relationships between category codes.

In [216]:
age_mapping = {
    1: 2,    # 0-4 → 2
    2: 7,    # 5-9 → 7
    3: 12,   # 10-14 → 12
    4: 17,   # 15-19 → 17
    5: 22,   # 20-24 → 22
    6: 27,   # 25-29 → 27
    7: 32,   # 30-34 → 32
    8: 37,   # 35-39 → 37
    9: 42,   # 40-44 → 42
    10: 47,  # 45-49 → 47
    11: 52,  # 50-54 → 52
    12: 57,  # 55-59 → 57
    13: 62   # 60-64 → 62
}
df['_AGEG5YR'] = df['_AGEG5YR'].map(age_mapping)

In [217]:
df['_BMI5'].value_counts(dropna=False)
# df['_BMI5'].isna().sum()

_BMI5
2744.0    42549
2663.0     4374
2746.0     3329
2441.0     3252
2712.0     3088
          ...
6784.0        1
3207.0        1
6299.0        1
4507.0        1
5520.0        1
Name: count, Length: 4193, dtype: int64

    _BMI5 is stored as BMI * 100 in the BRFSS dataset.
    I divided it by 100 to convert it into the standard BMI scale so the values become interpretable and suitable for modeling.

In [218]:
df['_BMI5'] = df['_BMI5'] / 100

In [219]:
df['_BMI5'].head()

0    22.49
1    25.83
2    22.53
3    25.09
4    19.77
Name: _BMI5, dtype: float64

In [220]:
df['ADDEPEV3'].value_counts(dropna=False)

ADDEPEV3
2.0    354189
1.0     95171
Name: count, dtype: int64

In [221]:
df['ADDEPEV3'] = df['ADDEPEV3'].map({1: 1, 2: 0})

In [222]:
df['EMTSUPRT'].value_counts(dropna=False)
# df['EMTSUPRT'].isna().sum()

EMTSUPRT
1.0    346683
2.0     59155
3.0     26731
4.0      8562
5.0      8229
Name: count, dtype: int64

In [223]:
df['DIABETE4'].value_counts(dropna=False)
# df['DIABETE4'].isna().sum()

DIABETE4
3.0    370009
1.0     64821
4.0     11187
2.0      3343
Name: count, dtype: int64

In [224]:
df['DIABETE4'] = df['DIABETE4'].map({1: 1, 4: 1, 2: 0, 3: 0})

In [225]:
df['DIABETE4'].value_counts(dropna=False)
# df['DIABETE4'].isna().sum()

DIABETE4
0    373352
1     76008
Name: count, dtype: int64

In [226]:
df['MARITAL'].value_counts(dropna=False)

MARITAL
1.0    228302
5.0     83647
2.0     58109
3.0     48378
6.0     21562
4.0      9362
Name: count, dtype: int64

In [227]:
df = pd.get_dummies(df, columns=['MARITAL'], prefix='MARITAL')
# similer to IMARACE

In [228]:
df.columns

Index(['GENHLTH', '_SEX', 'PHYSHLTH', 'MENTHLTH', 'POORHLTH', 'PERSDOC3',
       'MEDCOST1', 'EXERANY2', 'CVDSTRK3', 'CHCKDNY2', 'EDUCA', 'EMPLOY1',
       '_INCOMG1', 'DIFFWALK', 'SMOKE100', 'LSATISFY', '_METSTAT', 'SSBFRUT3',
       '_TOTINDA', '_RFDRHV9', '_HLTHPL2', '_RACE', '_AGEG5YR', '_BMI5',
       'ADDEPEV3', 'EMTSUPRT', 'DIABETE4', '_IMPRACE_1.0', '_IMPRACE_2.0',
       '_IMPRACE_3.0', '_IMPRACE_4.0', '_IMPRACE_5.0', '_IMPRACE_6.0',
       'MARITAL_1.0', 'MARITAL_2.0', 'MARITAL_3.0', 'MARITAL_4.0',
       'MARITAL_5.0', 'MARITAL_6.0'],
      dtype='object')

In [229]:
df['EDUCA'].value_counts(dropna=False)
# df['EDUCA'].isna().sum()

EDUCA
6.0    189517
5.0    118725
4.0    114209
3.0     17056
2.0      9152
1.0       701
Name: count, dtype: int64

In [230]:
df['EMPLOY1'].value_counts(dropna=False)
# df['EMPLOY1'].isna().sum()

EMPLOY1
1.0    190685
7.0    144338
2.0     38580
8.0     27411
5.0     17551
6.0     11297
4.0     10695
3.0      8803
Name: count, dtype: int64

In [231]:
df = pd.get_dummies(df, columns=['EMPLOY1'], prefix='EMPLOY')

In [232]:
df.columns

Index(['GENHLTH', '_SEX', 'PHYSHLTH', 'MENTHLTH', 'POORHLTH', 'PERSDOC3',
       'MEDCOST1', 'EXERANY2', 'CVDSTRK3', 'CHCKDNY2', 'EDUCA', '_INCOMG1',
       'DIFFWALK', 'SMOKE100', 'LSATISFY', '_METSTAT', 'SSBFRUT3', '_TOTINDA',
       '_RFDRHV9', '_HLTHPL2', '_RACE', '_AGEG5YR', '_BMI5', 'ADDEPEV3',
       'EMTSUPRT', 'DIABETE4', '_IMPRACE_1.0', '_IMPRACE_2.0', '_IMPRACE_3.0',
       '_IMPRACE_4.0', '_IMPRACE_5.0', '_IMPRACE_6.0', 'MARITAL_1.0',
       'MARITAL_2.0', 'MARITAL_3.0', 'MARITAL_4.0', 'MARITAL_5.0',
       'MARITAL_6.0', 'EMPLOY_1.0', 'EMPLOY_2.0', 'EMPLOY_3.0', 'EMPLOY_4.0',
       'EMPLOY_5.0', 'EMPLOY_6.0', 'EMPLOY_7.0', 'EMPLOY_8.0'],
      dtype='object')

In [233]:
df['_INCOMG1'].value_counts(dropna=False)
# df['_INCOMG1'].isna().sum()

_INCOMG1
5.0    193776
6.0     81770
4.0     49230
3.0     41310
2.0     33211
7.0     29425
1.0     20638
Name: count, dtype: int64

In [234]:
df['DIFFWALK'].value_counts(dropna=False)
# df['DIFFWALK'].isna().sum()

DIFFWALK
2.0    378788
1.0     70572
Name: count, dtype: int64

In [235]:
df['DIFFWALK'] = df['DIFFWALK'].map({1: 1, 2: 0})

In [236]:
df['SMOKE100'].value_counts(dropna=False)
# df['SMOKE100'].isna().sum()

SMOKE100
2.0    284279
1.0    165081
Name: count, dtype: int64

In [237]:
df['SMOKE100'] = df['SMOKE100'].map({1: 1, 2: 0})

In [238]:
df['LSATISFY'].value_counts(dropna=False)
# df['LSATISFY'].isna().sum()

LSATISFY
2.0    349082
1.0     89127
3.0      8727
4.0      2424
Name: count, dtype: int64

In [239]:
df['_METSTAT'].value_counts(dropna=False)
# df['_METSTAT'].isna().sum()

_METSTAT
1.0    325298
2.0    124062
Name: count, dtype: int64

In [240]:
df['_METSTAT'] = df['_METSTAT'].map({1: 1, 2: 0})

In [241]:
df['SSBFRUT3'].value_counts(dropna=False)
# df['SSBFRUT3'].isna().sum()

SSBFRUT3
202.0    405458
201.0      8744
101.0      6999
301.0      5254
302.0      4784
          ...
140.0         1
388.0         1
116.0         1
228.0         1
213.0         1
Name: count, Length: 93, dtype: int64

In [242]:
df['SSBFRUT3'] = df['SSBFRUT3'] / 100

In [243]:
df['SSBFRUT3'].head()

0    2.02
1    2.02
2    2.02
3    2.02
4    2.02
Name: SSBFRUT3, dtype: float64

In [244]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 449360 entries, 0 to 449359
Data columns (total 46 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   GENHLTH       449360 non-null  float64
 1   _SEX          449360 non-null  float64
 2   PHYSHLTH      449360 non-null  float64
 3   MENTHLTH      449360 non-null  float64
 4   POORHLTH      449360 non-null  float64
 5   PERSDOC3      449360 non-null  float64
 6   MEDCOST1      449360 non-null  int64
 7   EXERANY2      449360 non-null  int64
 8   CVDSTRK3      449360 non-null  int64
 9   CHCKDNY2      449360 non-null  int64
 10  EDUCA         449360 non-null  float64
 11  _INCOMG1      449360 non-null  float64
 12  DIFFWALK      449360 non-null  int64
 13  SMOKE100      449360 non-null  int64
 14  LSATISFY      449360 non-null  float64
 15  _METSTAT      449360 non-null  int64
 16  SSBFRUT3      449360 non-null  float64
 17  _TOTINDA      449360 non-null  int64
 18  _RFDRHV9      449360 non-null  int64
 19  _HLTHPL2      449360 non-null  int64
 20  _RACE         449360 non-null  float64
 21  _AGEG5YR      449360 non-null  int64
 22  _BMI5         449360 non-null  float64
 23  ADDEPEV3      449360 non-null  int64
 24  EMTSUPRT      449360 non-null  float64
 25  DIABETE4      449360 non-null  int64
 26  _IMPRACE_1.0  449360 non-null  bool
 27  _IMPRACE_2.0  449360 non-null  bool
 28  _IMPRACE_3.0  449360 non-null  bool
 29  _IMPRACE_4.0  449360 non-null  bool
 30  _IMPRACE_5.0  449360 non-null  bool
 31  _IMPRACE_6.0  449360 non-null  bool
 32  MARITAL_1.0   449360 non-null  bool
 33  MARITAL_2.0   449360 non-null  bool
 34  MARITAL_3.0   449360 non-null  bool
 35  MARITAL_4.0   449360 non-null  bool
 36  MARITAL_5.0   449360 non-null  bool
 37  MARITAL_6.0   449360 non-null  bool
 38  EMPLOY_1.0    449360 non-null  bool
 39  EMPLOY_2.0    449360 non-null  bool
 40  EMPLOY_3.0    449360 non-null  bool
 41  EMPLOY_4.0    449360 non-null  bool
 42  EMPLOY_5.0    449360 non-null  bool
 43  EMPLOY_6.0    449360 non-null  bool
 44  EMPLOY_7.0    449360 non-null  bool
 45  EMPLOY_8.0    449360 non-null  bool
dtypes: bool(20), float64(13), int64(13)
memory usage: 97.7 MB

In [245]:
df.head()

,GENHLTH,_SEX,PHYSHLTH,MENTHLTH,POORHLTH,PERSDOC3,MEDCOST1,EXERANY2,CVDSTRK3,CHCKDNY2,...,MARITAL_5.0,MARITAL_6.0,EMPLOY_1.0,EMPLOY_2.0,EMPLOY_3.0,EMPLOY_4.0,EMPLOY_5.0,EMPLOY_6.0,EMPLOY_7.0,EMPLOY_8.0
0,3.0,1.0,2.0,7.0,7.0,2.0,0,1,0,0,...,False,False,False,False,False,False,False,False,True,False
1,1.0,0.0,6.0,7.0,7.0,1.0,0,1,0,0,...,False,False,False,False,False,False,False,False,True,False
2,2.0,0.0,30.0,7.0,1.0,3.0,1,1,0,0,...,False,True,True,False,False,False,False,False,False,False
3,1.0,0.0,6.0,7.0,7.0,1.0,0,1,0,0,...,False,False,False,False,False,False,False,False,True,False
4,3.0,0.0,6.0,7.0,7.0,1.0,0,0,0,0,...,True,False,False,False,False,False,False,False,False,True

In [246]:
df["_RFDRHV9"].isna().sum() # we need to drop this later due to MAPPING , becuase it has not that much uniques this is self reported data and in eda we checked
# that it there are more drinker than non so this is not meeting real world criteria

np.int64(0)

In [247]:
df['_RFDRHV9'] = df['_RFDRHV9'].map({1: 1, 2: 0})

In [248]:
mode_value = df['_RFDRHV9'].mode()[0]
df['_RFDRHV9'] = df['_RFDRHV9'].fillna(mode_value)

In [249]:
df["_RFDRHV9"].isna().sum()

np.int64(0)

In [250]:
print(df.head())

   GENHLTH  _SEX  PHYSHLTH  MENTHLTH  POORHLTH  PERSDOC3  MEDCOST1  EXERANY2  \
0      3.0   1.0       2.0       7.0       7.0       2.0         0         1
1      1.0   0.0       6.0       7.0       7.0       1.0         0         1
2      2.0   0.0      30.0       7.0       1.0       3.0         1         1
3      1.0   0.0       6.0       7.0       7.0       1.0         0         1
4      3.0   0.0       6.0       7.0       7.0       1.0         0         0

   CVDSTRK3  CHCKDNY2  ...  MARITAL_5.0  MARITAL_6.0  EMPLOY_1.0  EMPLOY_2.0  \
0         0         0  ...        False        False       False       False
1         0         0  ...        False        False       False       False
2         0         0  ...        False         True        True       False
3         0         0  ...        False        False       False       False
4         0         0  ...         True        False       False       False

   EMPLOY_3.0  EMPLOY_4.0  EMPLOY_5.0  EMPLOY_6.0  EMPLOY_7.0  EMPLOY_8.0
0       False       False       False       False        True       False
1       False       False       False       False        True       False
2       False       False       False       False       False       False
3       False       False       False       False        True       False
4       False       False       False       False       False        True

[5 rows x 46 columns]

In [251]:
numeric_cols = df.select_dtypes(include=['float64', 'int64']).columns.tolist()
numeric_cols.remove('DIABETE4')

    DIABETE4 is my target variable, not a feature.
    I removed it to ensure it does not get scaled, transformed, or used in feature engineering steps that apply only to input features.

## dataset has numeric columns like:
        Age
        BMI
        Mental health days
        Physical health days
### if you don’t scale them:
        Features with larger ranges dominate
        Gradient-based models behave poorly
        Logistic regression coefficients become unstable
        KNN and SVM perform wrongly
        Models converge slowly

In [252]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])

    Scaled data Because my numeric features are on very different scales.
    I used StandardScaler to standardize them to mean = 0 and standard deviation = 1.
    This improves model performance, prevents domination by larger-scale features, and ensures faster and more stable training.

In [253]:
df.head()

,GENHLTH,_SEX,PHYSHLTH,MENTHLTH,POORHLTH,PERSDOC3,MEDCOST1,EXERANY2,CVDSTRK3,CHCKDNY2,...,MARITAL_5.0,MARITAL_6.0,EMPLOY_1.0,EMPLOY_2.0,EMPLOY_3.0,EMPLOY_4.0,EMPLOY_5.0,EMPLOY_6.0,EMPLOY_7.0,EMPLOY_8.0
0,0.336145,0.952239,-0.836565,-0.240732,-0.209009,0.596692,-0.324061,0.550899,-0.217924,-0.234566,...,False,False,False,False,False,False,False,False,True,False
1,-1.572702,-1.050157,-0.293269,-0.240732,-0.209009,-0.833751,-0.324061,0.550899,-0.217924,-0.234566,...,False,False,False,False,False,False,False,False,True,False
2,-0.618279,-1.050157,2.966509,-0.240732,-1.251387,2.027135,3.085842,0.550899,-0.217924,-0.234566,...,False,True,True,False,False,False,False,False,False,False
3,-1.572702,-1.050157,-0.293269,-0.240732,-0.209009,-0.833751,-0.324061,0.550899,-0.217924,-0.234566,...,False,False,False,False,False,False,False,False,True,False
4,0.336145,-1.050157,-0.293269,-0.240732,-0.209009,-0.833751,-0.324061,-1.815213,-0.217924,-0.234566,...,True,False,False,False,False,False,False,False,False,True

In [254]:
df.columns

Index(['GENHLTH', '_SEX', 'PHYSHLTH', 'MENTHLTH', 'POORHLTH', 'PERSDOC3',
       'MEDCOST1', 'EXERANY2', 'CVDSTRK3', 'CHCKDNY2', 'EDUCA', '_INCOMG1',
       'DIFFWALK', 'SMOKE100', 'LSATISFY', '_METSTAT', 'SSBFRUT3', '_TOTINDA',
       '_RFDRHV9', '_HLTHPL2', '_RACE', '_AGEG5YR', '_BMI5', 'ADDEPEV3',
       'EMTSUPRT', 'DIABETE4', '_IMPRACE_1.0', '_IMPRACE_2.0', '_IMPRACE_3.0',
       '_IMPRACE_4.0', '_IMPRACE_5.0', '_IMPRACE_6.0', 'MARITAL_1.0',
       'MARITAL_2.0', 'MARITAL_3.0', 'MARITAL_4.0', 'MARITAL_5.0',
       'MARITAL_6.0', 'EMPLOY_1.0', 'EMPLOY_2.0', 'EMPLOY_3.0', 'EMPLOY_4.0',
       'EMPLOY_5.0', 'EMPLOY_6.0', 'EMPLOY_7.0', 'EMPLOY_8.0'],
      dtype='object')

##### Now We have MODEL READY data lets DO MODEL BUILDING by saving this to new Processed Csv file and we are going to use this in step 6 FINAL.

In [255]:
df.to_csv('diabetes_processed.csv', index=False)
print('done')

done